<html>
	<head>
		<title>HTML Online Editor Sample</title>
	</head>
	<body>

		<h3 style="margin: 0px 0px 0.8em 1em; padding: 0px 0px 0px 0.5em; background-image: url(http://pad2.whstatic.com/skins/WikiHow/images/sub_header_end.gif); background-color: rgb(231, 227, 215); width: 625.875px; height: 31px; line-height: 30px; background-position: 100% 0%; background-repeat: no-repeat no-repeat;">
			<div class="step_num" style="margin: 0px 19px 0px 0px; padding: 0px;  text-align: center; width: 31px; height: 31px; line-height: 31px; font-size: 1.45em; color: rgb(255, 255, 255); float: left; clear: right; font-family: Arial, Helvetica, sans-serif; background-position: -220px -80px; background-repeat: no-repeat no-repeat;">
					1</div>
			<span style="margin: 0px; padding: 0px;">M&eacute;todo 1: Tema/Plantilla (Office 2010)</span></h3>

	</body>
</html>
