<html>
	<head>
		<title>HTML Online Editor Sample</title>
	</head>
	<body>
		<div class="editable" id="steps" style="margin: 0px; padding: 0px; color: rgb(65, 65, 65); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(249, 247, 241);">
			<ol class="steps_list_2" style="margin: 0px; padding: 0px; list-style: none;">
				<li style="margin: 0px; padding: 20px 20px 20px 80px; clear: both; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: rgb(191, 191, 191);">
					<div class="step_num" style="margin: 0px 19px 0px -50px; padding: 0px; background-image: url(https://github.com/jrichardsz/videotutoriales/raw/master/global-resources/templates/sub-item/header.png); text-align: center; width: 31px; height: 31px; line-height: 31px; font-size: 1.45em; color: rgb(255, 255, 255); float: left; clear: right; background-position: -220px -80px; background-repeat: no-repeat no-repeat;">
						1</div>
					<b class="whb" style="margin: 0px; padding: 0px;">Abre PowerPoint</b>. Ver&aacute;s una pantalla en blanco con dos cuadros al centro de la pantalla. Una de los cuadros dir&aacute; &ldquo;Clic aqu&iacute; para agregar el t&iacute;tulo&rdquo;, y la otra dice &ldquo;Clic aqu&iacute; para agregar el subt&iacute;tulo&rdquo;.</li>
			</ol>
		</div>
	</body>
</html>
